@page "/about"
@using PortfolioNaiquen.Shared.Components
@using PortfolioNaiquen.Shared
@inject PortfolioNaiquen.Services.LanguageService Lang
@implements IDisposable

<PageTitle>@Lang.T("aboutTitle") - Naiquen Iturralde</PageTitle>

<div class="max-w-4xl mx-auto mt-20 text-center">
    <h1 class="text-5xl font-extrabold text-purple-400">@Lang.T("aboutTitle")</h1>

    <p class="text-gray-300 text-xl mt-6 leading-relaxed px-4">
        @Lang.T("aboutP1")
        <br /><br />

        @Lang.T("aboutP2")
        <br /><br />

        @Lang.T("aboutP3")
        <br /><br />

        @Lang.T("aboutP4")
        <br /><br />

        @Lang.T("aboutP5")
    </p>

    <div class="mt-12">
        <ImageFullscreen ImageSrc="@ProfileImage.Url" Alt="@ProfileImage.Alt" />
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Lang.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Lang.OnChange -= StateHasChanged;
    }
}
